<%
  def link_to(name, url)
    return "<a href='#{url}'>#{name}</a>"
  end
%>


<html>
  <body>
    <h1>You're using a layout</h1>
    <p>
      <form method='post' action="<%= @request.path %>">
        First name: <input type="text" name="first_name" placeholder='first name'/><br />
        <input type="color" value="#ff0000" />
        <input type="submit" value="submit" />
        <% if @request.query['first_name'] && !@request.query['first_name'].empty? %>
            <strong>Hello there
            <%= @request.query['first_name'] %>
          <% else %>
            Enter thy name
          <% end %></strong>  
      </form>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <a href='me.html'>Me</a>
      <a href="http://google.com">This is a link to google</a>
      <%= link_to('this is a link to google', 'http://google.com')%>
      <%= link_to('NPR is the best', 'http://npr.org')%>
    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <%= Time.now %>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>